canvas {
  width: 100%;
  height: 100%;
  background: black;
}

body, html {
  height: 100%;
  margin: 1px;
  background: black;
}

p {
margin: 2px;
color: white;
text-align: center;
font-family: 'Open Sans', sans-serif;
}
